a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #02282b;
    color: white;
    padding: 10px 20px;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    gap: 50px;
    padding: 50px;
    align-items: flex-start;
    justify-content: center;

    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(18, 9, 9, 0.2);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: left;
    background-size: 100% 100%;
    background-position: center;
    box-sizing: border-box;
    padding: 50px;
}

.form-section {
    width: 30%;
    background-color: #dde7de;
    padding: 15px;
    border-radius: 10px;
    padding: 50px;
    margin: 5%;
}

.table-section {
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    padding: 50px;
}

button {
    background-color: #15ba5f;
}

/* .taskTable {
    background-color: #27ae3b;
    padding: 15px;
    border-radius: 10px;
    padding: 50px;
    margin: 5%;
    box-shadow: 0 4px 8px rgba(18, 9, 9, 0.2);
} */

table {
    width: 100%;
    border-collapse: collapse;

}

th {
    padding: 10px;
    margin: 5px;
    table-layout: auto;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #25d619;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

td {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    margin-top: 10px;
}

.taskTableBody {
    background-color: #0b2d26;
    color: #94a39d;
    font-size: 16px;
}

deletedTasksTable {
    background-color: rgb(32, 161, 32);
}

.taskTable {

    background-color: red;
}

.taskTable th {
    background-color: #f2f2f2;
}

.taskTable th,
.taskTable td {
    padding: 10px;
    border: 1px solid #bac8c2;
    text-align: center;
}

.taskTable th {
    background-color: #15ba5f;
}

.taskTable td {
    background-color: #0b2d26;
}

.taskTable tr:nth-child(even) {
    background-color: #a13f3f;
}

DeleetedTasksTable th {
    background-color: #f2f2f2;
    text-align: center;
}